@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.tit-foto{
    font-size: 4rem;
    text-align: center;
    margin: 5% 0;
}

/*BREAKPOINT*/
@media (max-width:725px) {
    .cabecalho{
        flex-direction: column;
    }
    .cabecalho nav{
        flex-wrap: nowrap;
    }
    .cabecalho a{
        font-size: 1em;
    }

    
}
